@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cormorant Upright', serif;
    background-color: rgb(5,5,5);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-amarillo: #d7f136;
    --font-normal: 'Open Sans', sans-serif;
}

@keyframes start-down {
    0% {
    transform: translateY(-3rem);
    }
    100% {
        transform: none;
    }
}

@keyframes start-up {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes show {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes show-left {
    0% {
        opacity: 0;
        transform: translateX(-6rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes show-right {
    0% {
        opacity: 0;
        transform: translateX(6rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.menu-hamburgesa {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    z-index: 1;
    color: white;
    transform: translate(100%);
    transition: transform 1s;
}
.menu-hamburgesa-active {
    transform: none;
}

.menuH__name {
    position: absolute;
    top: .3em;
    left: .8em;
    font-size: 1.5em;
}

.logo__img {
    width: 75px;
    height: 75px;
    filter: invert(100%) sepia(0%) saturate(2509%) hue-rotate(117deg) brightness(122%) contrast(103%);
}

.menuH__ul {
    display: flex;
    flex-direction :column;
    align-items: center;
    gap: 1em;
    list-style: none;
}

.menuH__a {
    font-size: 2.5em;
    text-decoration: none;
    color: white;
}

.menuH__a-active {
    color: var(--color-amarillo);
    border-bottom: 2px solid var(--color-amarillo);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: fixed;
    right: .8em;
    top: 1em;
    cursor: pointer;
    z-index: -1;
    opacity: 0;
}

.menu__line {
    width: 30px;
    height: 2px;
    background-color: white;
    display: block;
    transition: all .5s;
}

.line1.active {
    transform: rotate(45deg) translate(5px);
    background-color: var(--color-amarillo);
}
.line2.active {
    transform: translate(-3em);
    opacity: 0;
    background-color: var(--color-amarillo);
}
.line3.active {
    transform: rotate(-45deg) translate(7.8px,-3.5px);
    background-color: var(--color-amarillo);
}

.title { 
    font-size: 2.8em;
    opacity: 0;
    color: var(--color-amarillo);
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(5,5,5);
    justify-content: space-between;
    padding: 0 2rem;
    padding-top: .8rem;
    position: absolute;
    width: calc(100% - 4rem);
}

.header__name {
    font-weight: bold;
    color: white;
    animation: start-down 1s;
    font-size: 1.8em;
} 

.header__portfolio {
    color: white;
    animation: start-down 1s;
    animation-delay: 1.2s;
    animation-fill-mode: both;
    font-size: 1.8em;
    font-weight: bold;
}

.header__nav {
    display: flex;
    gap: 1.5rem;
}

.header__a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    animation: start-down 1s;
    animation-fill-mode: both;
    letter-spacing: .7px;
}

.header__a-first {
    animation-delay: .4s;
}
.header__a-second {
    animation-delay: .6s;
}
.header__a-third {
    animation-delay: .8s;
}
.header__a-fourth {
    animation-delay: 1s;
}

.header__a::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: var(--color-amarillo);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path .5s;
}

.header__a:hover  {
    color: var(--color-amarillo);
}

.header__a:hover::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5,5,5);
    height: 100vh;
    padding: 0 8rem 0 7rem;
}

.inicio__contText {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    font-size: 20px;
    color: white;
    margin-top: 2em;
}

.inicio__presentacion {
    font-weight: lighter;
    animation: start-up 1s;
    animation-delay: 1.4s;
    animation-fill-mode: both;
}

.inicio__name {
    font-size: 2.4em;
    text-transform: uppercase;
    color: var(--color-amarillo);
    animation: start-up 1s;
    animation-delay: 1.6s;
    animation-fill-mode: both;
}

.inicio__description {
    font-weight: lighter;
    color: white;
    animation: start-up 1s;
    animation-delay: 1.8s;
    animation-fill-mode: both;
}

.inicio__redesSociales {
    display: flex;
    animation: start-up 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.inicio__a {
    text-decoration: none;
    color: white;
    margin-right: 2rem;
    font-weight: bold;
}

.inicio__a:hover {
    color: var(--color-amarillo);
}

.inicio__a:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-amarillo);
    display: block;
    animation: barra 1.5s infinite alternate;
}

.inicio__contImg {
    width: 300px;
    height: 340px;
    position: relative;
    animation: start-up 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
    margin-top: 1.3em;
}

.inicio__contImg::after {
    content: "";
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    top: -15px;
    left: -15px;
    background: 
    linear-gradient(to left top, transparent 75%, rgb(5,5,5) 75%),
    linear-gradient(to right bottom, transparent 75%, rgb(5,5,5) 75%),
    linear-gradient(
        to right,
        transparent 44%,
        rgb(5,5,5) 44%,
        rgb(5,5,5) 56%,
            transparent 56%
        ),
    linear-gradient(
        var(--color-amarillo) 40%,
        transparent 40%,
        transparent 60%,
        var(--color-amarillo) 60%
        );
        
    position: absolute;
}

.inicio__img {
    position: absolute;
    width: inherit;
    z-index: 1;
    height: inherit;
}

.sobreMi {
    display: flex;
    flex-direction: column;
    padding: 3rem 7rem;
    text-align: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),
    url("./assets/fondo.jpg");
    color: white;
    scroll-margin-top: -.3em;
}

.sobreMi__content {
    display: flex;
    padding: 2em 0;
    justify-content: space-between;
    gap: 3em;
}
.sobreMi__text {
    width: 50%;
    font-size: 1.45em;
    opacity: 0;
}

.sobreMi__text_text {
    line-height: 30px;
}

.text-yellow {
    color: var(--color-amarillo);
}

.sobreMi__content-title {
    margin-bottom: 1em;
}

.sobreMi__skills {
    width: 50%;
    font-size: 1.45em;
    opacity: 0;
}

.skills__contImgs {
    display: flex;
    justify-content: center;
    gap: 1.2em;
    flex-wrap: wrap;
}
.skills__img {
    width: 85px;
    height: 85px;
}

.proyectos {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem 0 4.5rem 0;
    color: white;
    scroll-margin-top: -1.7em;
}

.proyectos__title {
    margin-bottom: 1.2em;
}

.proyectos__contCards {
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: rgb(5,5,5);
    width: 70%;
    margin: auto;
    opacity: 0;
}

.proyectos__contCards::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: 
    linear-gradient(to right top, transparent 70%, rgb(5,5,5) 70%),
    linear-gradient(to left bottom, transparent 75%, rgb(5,5,5) 75%),
    linear-gradient(
        to right,
        transparent 13%,
        rgb(5,5,5) 13%,
        rgb(5,5,5) 87%,
            transparent 87%
        ),
    linear-gradient(
        var(--color-amarillo) 25%,
        transparent 25%,
        transparent 75%,
        var(--color-amarillo) 75%
        );
    z-index: -1;
}

.proyectos__contTwo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.proyectos__card {
    width: 390px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.proyectos__card:hover .card__up {
    transform: none;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__button {
    position: absolute;
    width: 50px;
    height: 40px;
    filter: invert(66%) sepia(88%) saturate(348%) hue-rotate(25deg) brightness(115%) contrast(96%);
    animation: bounce .8s infinite alternate; 
}

@keyframes bounce {
    0% {

    }
    100% {
        transform: translateY(-1rem);
    }
}

.card__up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient( rgb(5,5,5), rgba(215, 241, 54,.7));
    transform: translateY(100%);
    transition: transform 1s;
}

.card__description {
    width: 90%;
    margin: .8em 0;
}

.contEnlaces {
    display: flex;
    gap: 1em;
}

.card__enlace {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.card__enlace::after {
    content: "";
    height: 2px;
    width: 100%;
    display: block;
    background-color: rgb(5,5,5);
    animation: barra 1.2s infinite alternate;
}

@keyframes barra {
    0% {clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);}
    100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
}

.enlace__img {
    width:35px;
    height: 35px; 
}

.contacto {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("./assets/fondo.jpg");
    padding: 3em 0;
    scroll-margin-top: -2em;
}

.contacto__title { margin-bottom: .8em }

.formulario {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
}

.formulario__cont {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    opacity: 0;
}

.input {
    height: 2.5em;
    width: 80%;
    margin: auto;
    box-shadow: 4px 4px 2px var(--color-amarillo);
    outline: none;
    border: none;
    background-color: rgb(238, 238, 238);
}

.textarea {
    height: 15rem;
    width: 80%;
    margin: auto;
    outline: none;
    box-shadow: 4px 4px 2px var(--color-amarillo);
    border: none;
    background-color: rgb(238, 238, 238);
}

.btn-enviar {
    padding: .2em 1em;
    width: fit-content;
    margin: auto;
    background: none;
    color: var(--color-amarillo);
    font-size: 1.3em;
    cursor: pointer;
    border: none;
}

.btn-enviar::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-amarillo);
    animation: barra 1s infinite alternate;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: .5em 1em;
    align-items: center;
    background-color: black;
}

.footer__text { font-size:2em }

.footer__picture {
    display: flex;
    gap: 1.5em;
}

.footer__img {
    width: 50px;
    height: 50px;
}

.buttonUp {
    position: fixed;
    height: 35px;
    width: 35px;
    right: .5em;
    bottom: .5em;
    text-decoration: none;
    opacity: 0;
    transition: opacity 1s;
}

.buttonUp__svg {
    width: 100%;
    height: 100%;
    filter: invert(87%) sepia(59%) saturate(601%) hue-rotate(11deg) brightness(103%) contrast(89%);
    transition: transform .2s;
}

.buttonUp__svg:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1100px) {
    .header {
        font-size: 14px;
    }
    .inicio {
        padding: 0 6rem 0 5rem;
    }
    .inicio__contText {
        font-size: 16px;
    }
    .inicio__contImg {
        width: 240px;
        height: 280px;
    }
    .sobreMi {
        padding: 3rem 5rem;
        font-size: 14px;
    }
    .skills__img {
        width: 75px;
        height: 75px;
    }
    .proyectos {
        font-size: 14px;
    }
    .proyectos__contCards {
        width: 80%;
    }
    .contacto {
        font-size: 14px;
    }
    .footer {font-size: 14px;}
}

@media screen and (max-width:900px){
    .header {
        font-size: 12px
    }
    .inicio__contText {
        font-size: 14px;
        gap: 1rem;
    }
    .inicio__contImg {
        width: 210px;
        height: 250px;
    }
    .inicio__contImg::after {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        top: -10px;
        left: -10px;
    }
    .sobreMi {
        font-size: 12px;
    }
    .skills__img {
        width: 65px;
        height: 65px;
    }
    .proyectos {
        font-size: 12px;
    }
    .proyectos__card {
        width: 310px;
        height: 157px;
    }
    .card__button {
        width: 40px;
        height: 30px;
    }
    .card__up {
        font-size: 14px;
    }
    .enlace__img {
        width:  28px;
        height: 28px;
    }
    .contacto {
        font-size: 12px;
    }
    .footer {
        font-size: 12px;
    }
    .footer__img {
        width: 40px;
        height: 40px;
    }
    .input {
        height: 2em
    }
    .textarea {
        height: 12rem;
    }
}

@media screen and (max-width:800px) {
    .menu { z-index: 1; opacity: 1;}
    .inicio__presentacion { animation-delay: 0s}
    .inicio__name { animation-delay: .2s}
    .inicio__description { animation-delay: .4s}
    .inicio__redesSociales {animation-delay: .6s}
    .inicio__contImg {animation-delay: .6s}
    .header {
            opacity: 0;
            z-index: -1;
            overflow: hidden;
    }
    .sobreMi {
        padding: 1.5rem 4rem;
        font-size: 10px;
    }
    .sobreMi__text_text{
        line-height: 23px;
    }
    .skills__img {
        width: 50px;
        height: 50px;
    }
    .proyectos {
        padding: 1.5rem 0 2.8rem 0;
        font-size: 10px;
    }
    .proyectos__card {
        width: 260px;
        height: 137px;
    }
    .card__up {
        font-size: 13px;
    }
    .enlace__img {
        width:  25px;
        height: 25px;
    }
    .contacto {
        font-size: 13px;
    }
    .textarea {
        height: 10rem;
    }
    .footer {
        font-size: 10px;
    }
    .footer__img {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width:690px) {
    .inicio {
        justify-content: center;
        gap: 2.5em;
        flex-flow: column-reverse;
        padding: 0;
    }
    .inicio__contImg {
        width: 160px;
        height: 180px;
        animation-delay: 0s;
        margin-top: 0;
    }
    .inicio__presentacion {
        animation-delay: .2s;
        font-size: 1.5em;
    }
    .inicio__name {
        animation-delay: .4s;
        font-size: 2em;
    }
    .inicio__description {
        display: none;
        animation-delay: .6s;
        font-size: 1.5em;
    }
    .inicio__redesSociales {
        justify-content: center;
        gap: 2em;
        animation-delay: .6s;
        font-size: 1.4em;
    }
    .inicio__contText {
        text-align: center;
        gap: 1.5em;
        margin-top: 0;
        width: 65%;
    }
    .inicio__a {
        margin: 0;
    }
    .enlace__img {
        width:  35px;
        height: 35px;
    }
    .sobreMi__content {
        flex-direction: column;
    }
    .sobreMi {
        padding: 1.5rem 5rem;
        font-size: .75em;
    }
    .sobreMi__skills {
        width: 100%;
        font-size: 2em
    }
    .sobreMi__text {
        width: 100%;
        font-size: 2em
    }
    .proyectos__contCards {
        width: 80%;
        gap: 3em;
    }
    .proyectos__card {
        width: 100%;
        height: 185px;
    }
    .card__description {
        font-size: 1.3em;
    }
    .card__up-title {
        font-size: 1.8em;
    }
    .proyectos__contCards::after {
        content: none;
    }
    .proyectos__contTwo {
        flex-direction: column;
        gap: 3em;
    }
    .title {
        font-size: 4em;
    }
}

@media screen and (max-width:480px) {
    .menu {
        top: calc(100vh - 2em);
    }
    .inicio__description {
        display: none;
        animation-delay: .6s;
    }
    .inicio__contText {
        width: 80%;
    }
    .inicio__name {
        font-size: 1.8em;
    }
    .proyectos__contCards {
        width: 85%;
    }
    .proyectos__contCards::after {
        content: none;
    }
    .sobreMi {
        padding: 1.5rem 3rem;
    }
    .title {
        font-size: 4em;
    }
    .proyectos__title {
        font-size: 5em;
    }
    .contacto {
        font-size: 18px;
    }
    .contacto__title {
        font-size: 3em;
    }
    .footer__text {
        position: absolute;
        z-index: -1;
    }
}

@media screen and (min-height:700px ) and (max-height:915px) {
    .inicio__description {
        display: block;
    }
    .inicio__redesSociales {
        animation-delay: .8s;
    }
}